Name:		mairix
Summary:	A maildir indexer and searcher
Version:	@@VERSION@@
Release:	1
Source:		%{name}-%{version}.tar.gz
License:	GPL
Group:		Application/Internet
Packager:	Kim Vandry
BuildRoot:	%{_tmppath}/%{name}-%{version}-root-%(id -u -n)
Requires:	info
URL:		https://github.com/vandry/mairix

%description
mairix is a tool for indexing email messages stored in maildir format folders
and performing fast searches on the resulting index.  The output is a new
maildir folder containing symbolic links to the matched messages.

%prep
%setup -q

%build
CFLAGS="$RPM_OPT_FLAGS" ./configure --prefix=%{_prefix}
make

%install
rm -rf $RPM_BUILD_ROOT
cd $RPM_BUILD_DIR/mairix-%{version}
make install DESTDIR=$RPM_BUILD_ROOT mandir=$RPM_BUILD_ROOT/%{_mandir}
cp README dotmairixrc.eg ..

%files
%{_bindir}/mairix
%doc README
%doc dotmairixrc.eg
%doc %{_mandir}/man1/mairix.1.gz
%doc %{_mandir}/man5/mairixrc.5.gz

%changelog
* Fri Mar 24 2006 Andre Costa <blueser@gmail.com> - 0.18
- Updated to version 0.18
- Included URL on header
- removed references to 'mairix.txt', 'mairix.html' and 'mairix.info'
- .info files have been deprecated
- removed useless 'post' section
- makefile's "mandir" is pointing to /usr/man instead of /usr/share/man
