Summary: A maildir indexer and searcher
Name: mairix
Version: 0.5_pre2
Release: 1
Source: mairix-%{version}
Copyright: GPL
Group: Application/Internet
Packager: Richard P. Curnow
BuildRoot: %{tmpdir}/%{name}-%{version}-root-%(id -u -n)

%description
mairix is a tool for indexing email messages stored in maildir format folders
and performing fast searches on the resulting index.  The output is a new
maildir folder containing symbolic links to the matched messages.

%prep
%setup

%build
make CC=gcc CFLAGS=-O2 prefix=/usr
make mairix.txt prefix=/usr
make mairix.info prefix=/usr
make mairix.html prefix=/usr

%install
rm -rf $RPM_BUILD_ROOT
cd $RPM_BUILD_DIR/mairix-%{version}
make install prefix=$RPM_BUILD_ROOT/usr
mkdir -p $RPM_BUILD_ROOT/usr/share/info
cp mairix.info* $RPM_BUILD_ROOT/usr/share/info
cp README mairix.txt mairix.html mairix.pdf dotmairixrc.eg ..

%files
/usr/bin/mairix
/usr/share/info/mairix.info*
%doc README
%doc mairix.txt
%doc mairix.html
%doc dotmairixrc.eg

%post
/usr/sbin/install-info

